---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=<API_KEY>&format=json&show=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":10,"currentPage":1,"total":16,"totalPages":2,"queryTime":"0.027","totalTime":"0.052","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=all&format=json&apiKey=<API_KEY>","stores":[{"storeId":2740,"storeType":"Mobile
        SAS","tradeIn":null,"name":"CHERRY CREEK MALL","longName":"BEST BUY MOBILE
        - CHERRY CREEK SHOPPING CENTER","address":"3000 EAST FIRST AVE","address2":"STE
        296","city":"DENVER","region":"CO","fullPostalCode":"80206-5637","country":"US","lat":39.72,"lng":-104.95,"hours":"Sun:
        11-6; Mon: 10-6; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9;
        Sun: 11-6; Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9","hoursAmPm":"Sun:
        11am-6pm; Mon: 10am-6pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri:
        10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm; Mon: 10am-9pm; Tue: 10am-9pm; Wed:
        10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm","gmtOffset":-6,"services":[{"service":"Trade-In"}],"phone":"303-270-9189","postalCode":"80206","distance":3.45,"detailedHours":[{"day":"Sunday","date":"2017-05-28","open":"11:00","close":"18:00"},{"day":"Monday","date":"2017-05-29","open":"10:00","close":"18:00"},{"day":"Tuesday","date":"2017-05-30","open":"10:00","close":"21:00"},{"day":"Wednesday","date":"2017-05-31","open":"10:00","close":"21:00"},{"day":"Thursday","date":"2017-06-01","open":"10:00","close":"21:00"},{"day":"Friday","date":"2017-06-02","open":"10:00","close":"21:00"},{"day":"Saturday","date":"2017-06-03","open":"10:00","close":"21:00"},{"day":"Sunday","date":"2017-06-04","open":"11:00","close":"18:00"},{"day":[...]
